.paragraph-container {
    margin-left: 40px;
    font-size: 12px;
    font-weight: bold;
    user-select: none;
}

.avoid-select {
    user-select: none;
}

.like-icon {
    font-size: 25px;
}

.row-container {
    margin-top: 50px
}

.item-name {
    font-weight: bold
}