.input {
    width: 100%;
}

.button {
    width: 100%;
    padding: 10px
}

.image {
    height: 32vh;
    width: 60vh;
}

.list-container {
    min-height: 100vh;
    max-height: '100%';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .country-container {
        width: 100%;
        min-height: 90vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}