.new-card-container {
    height: 100%;
    width: 100%;
    text-align: center;
    border-style: 2px solid;
    max-height: 50%;
    align-content: center;
    align-Self: center;
    font-weight: bold;
    font-size: auto;
}

.image-container {
    // height: 150px;
    // width: 150px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin: auto;
    margin-top: 5%;
    display: "block";
    max-width: 30%;
}