.avoid-select {
    user-select: none;
}

.input {
    width: 100%;
}

.button {
    width: 100%;
    padding: 10px
}

.container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-image {
    margin-top: 10px;
    margin-right: 10px;
    height: 65px;
    width: 65px
}

.card-container {

    width: 100%;
}